.LandingContainer{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(270deg,#E1F5D2, #c1f0ae);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'IBM Plex Sans', sans-serif;
}

.InitContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

}
.LabelContainer{
    width: 80vw; 
    height: 20vh;
    margin-left: 10vw;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: end;

}

.Title{
    text-align: center;
}


/*SERVICES CONTAINER*/
.ServicesContainer{
    width: 100%;
    height: 60vh;
    overflow-y: auto;
    margin:1rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.ServiceContainer{
    width: 50%;
    height: 55vh;
    border-radius: 10px;
    margin-top:1rem;
    position: relative;
    display: inline-block;
    text-align: center;
}

.ServiceImage{
    width:100%;
    height: 55vh;
    border-radius: 10px;

}
.TextService{
    position: absolute;
    top: 90%;
    left: 10%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    background-color: black;
    border-radius: 20px ;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}