.HorseAppContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

@media (max-width: 680px) {
    .HorseAppContainer{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
}