.LoginContainer{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Fira Sans Condensed', sans-serif;
}
.positionAbsolute{
    position: absolute;
    right: 93%;
    bottom: 90%;
    z-index: 2;
}