.bg-custom-1 {
    background-color: #85144b;
  }
  
.bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  }


#dropdown-basic{
    color:transparent !important;
    background-color: transparent !important;
    border: none !important;
    margin-top:3px;
}
#menuUser{
    justify-content: end !important;
}
.Navbar{
    background-color: black;
    width: 100vw;
    height: 9vh;
    display: flex;
    justify-content: end;
}
#Menu{
    margin-right: 20px !important;
}

.ButtonOffCanvas{
    background-color:transparent !important ;
    height: 70%;
    margin-top: 8px;
}
.EspaceMenu{
    width: 90%;
}



/* OFFCANVAS */
.ListOffcanvas{
    border:0px !important;
}

.list-group-item-secondary{
    background-color: transparent !important;
}
.list-group-item-secondary:hover{
    background-color: rgb(212, 211, 211) !important;
}

.list-group{
    border-color: transparent !important;
}

.list-group-item:first-child{
    border-top-left-radius:0px !important;
    border-top-right-radius:0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.list-group-item:last-child{
    border-top-left-radius:0px !important;
    border-top-right-radius:0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}