
.EstadisticasContainer{
    width: calc( 100vw - 14rem );
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}
/*INFO CONTAINER*/
.InfoContainer{
   width: calc( 100vw - 34rem );
   height: 100%;
   background-color: #11342F;
   display: flex;
   justify-content: center;
   flex-direction: column;
   justify-content: center;align-items: center;   padding: 2rem;
}

.Est-Container-1{
  width: 100%;
  height: 16vh;
  position: relative;
  bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}


.Est-Container-1-text{
  color:white;
  font-size: 1.3rem;

}
.Est-Container-1-container-count{
  min-width: 11rem;
  width: 11rem;
  height: 2.8rem;
  height: 2.8rem;
  border: 1px solid #FF9300;
  background-color: #134D44;
  border-radius: 7px;
  margin-left: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  

}
.Est-Container-1-container-count-text{
  color:white;
  font-size: 1.7rem;
}

.Est-Container-2{
  width: 100%;
  height: 16vh;
  padding: 5px;
  display: flex;
  flex-direction: row;
  border-right:1pt solid #FF9300;
  align-items: flex-start;
}

.label-event-Estadistics-Container{
  width: 18.5rem;
  min-width: 18.5rem;
  height: 6.1rem;
  background-color: #134D44;
  border-radius: 20px; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-left: 1rem;
}
.img-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
.img-event{
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  position: relative;
  top: 0.5rem;
}
.filter-Horse-Estadistics-Container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20rem;
  min-width: 20rem;
  height: 100%;
  margin-left: 3rem;
}

.buttonEstadistic{
  background-color: #FF9300;
  border: none;
  box-shadow: 1px 8px 29px #695F9724;
  border-radius: 19px;
  color: white;
  height: 2rem;
  padding: 0.6rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  
}

/* INPUT */
.filter-Horse-Estadistics-Container .input-group{
  width: 12rem !important;
  background-color: transparent;
  flex-wrap:nowrap !important;
  position:relative;
  top: 0.5rem;
  border-radius: 20px;
  background-color: white;
  margin-right: 10px;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  
}
.filter-Horse-Estadistics-Container .input-group-text{
  background-color: transparent !important;
  border: none !important;
  border-radius: 0px !important;
}
.filter-Horse-Estadistics-Container .input-group .form-control{
  border:none !important ;
  color:#73819A !important;
  padding-left: 0px !important;
}



.Est-Container-3{
    height: 68vh;
    width: 100%;
    border-right:1pt solid #FF9300;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.tableContainer{
  width: 100%;
  min-width: 29rem;
  max-width: 50rem;
  height: 100%;
  max-height: 500px;
  background-color: #134D44;
  border-radius: 18px;
  position: relative;
  right: 0.5rem;
  padding: 1rem;
  
}
.tablebody{
  margin-top: 20px !important;
}
.table{
  overflow-y: auto !important;
  overflow-x: auto !important;
  width: 100%;
  height: 97%;
  justify-content: center;
  align-items: center;
  position: relative;
  top:6px
}
.IconCloseEvent{
  position:relative;
  z-index: 2;
  color:#FF9300;
  right:1rem;
  bottom: 2.5rem;
  cursor: pointer;
}
.textNeedEvent{
  color:white;
  opacity: 0.5;
  font-size: 1.3rem;
  position: relative;
  bottom: 2.2rem;

}
.table>:not(caption)>*>* {
  border: none !important;

}
.table>thead{
  border-bottom: 1px solid gray;
}
.b-none{
  border: none;
}
.NameTable{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.text-table{
  color: white !important;
  font-size: small;
}
.NameText{
  color: #FFFFFF;
  font-weight:700;
  font-size: 0.7rem;
  margin-left: 0.4rem;
}
.HorseImage{
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 2rem;
}
.titletext{
  color:#C0BDCC;
  font-size: small;
  font-weight: 200;
}

.iconVideoPlayContainer{
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 2rem;
  background-color: #11342F;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.iconVideoPlay{
  color:#FF9300 !important
}

.BPMData{
  background-color: #FF9300;
  border-radius: 17px;
  color: white;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
  font-size: 1.1rem;
}
.PointData{
  color: white;
  font-weight: 700;
}
.Est-Container-1-1{
  display: none;
  flex-direction: column;
  width: 50%;
}


.SelectEventContainer{
    padding: 10pt;
    padding-top: 30pt;
    width: 20rem;
    min-width: 20rem;
    max-width: 20rem;
    height: 100%;
    background-color: #11342F;
    padding-top: 10rem;
    /* border-left:0.5pt solid rgb(90, 68, 38); */
}

.center{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.buttonEventEst{
  display: none;
}




/*MEDIA QUERIES*/

@media (max-width:  1310px){
   
  .EstadisticasContainer{
    flex-direction: column;
    
  }
  .InfoContainer{
    order: 2;
    width: calc( 100vw - 14rem );
    height: 100%;
  }
  .SelectEventContainer{
    order: 1;
    width: calc( 100vw - 14rem );
    min-width: calc( 100vw - 14rem );
    max-width: calc( 100vw - 14rem );
    height: 10rem;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }
  .display-none{
    display: none;
  }
  .buttonEventEst{
    display: flex;
    height: 2rem;
    position: relative;
    left: 9rem;
  
  }
  .Est-Container-1-1{
    display: flex;
    align-items: center;
    position: relative;
    top: 2rem;
  }
  .LabelDisappear{
    display: none;
  }


}
@media (max-width: 1180px){
  .InfoContainer{
    order: 2;
    width: calc( 100vw - 5rem );
    height: 100%;
  }
}

@media (max-width: 950px){
  .Est-Container-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:none;
    
  }
  .Est-Container-3{
    border:none
  } 
  .label-event-Estadistics-Container{
    position: relative;
    right: 0rem;
  }
  .buttonEventEst{
    display: flex;
    position: relative;
    bottom: 1rem;
    left: 0.5rem;
  }
  .Est-Container-1-1{
    display: flex;
    align-items: center;
    position: relative;
    top: 7rem;
    left: 2rem;
  }
  .Est-Container-1-text{
    display: none;
  }
  .Est-Container-1-container-count{
    min-width: 4rem;
    width: 4rem;
    height: 2.8rem;
    height: 2.8rem;
    border: 1px solid #FF9300;
    background-color: #134D44;
    border-radius: 7px;
    margin-left: 0.3rem;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    position: relative;
    right: 14.5rem;
    top: 3.5rem;
  }

}
@media (max-width: 680px){
  .InfoContainer{
    order: 2;
    width: 100vw;
    height: 100%;
  }
}
