.App {
  text-align: center;
}
button:disabled{
  background-color:rgb(196, 145, 7)  !important;
  color:white !important;
  cursor:auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.loading{
  display: "block";
  margin: "0 auto";
  z-index: 2;
}
.VideoPlayer video{
  /* border-radius: 20px !important; */
  width: 100% !important;
  height: 100% !important;
  min-height: 330px !important;
}
.VideoPlayer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.small-size{
  font-size: 8px !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* SCROLL */
::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #494135; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #776f62; 
}

a{
  color:transparent !important
}

.tw-500{
  font-weight: 700;
  position: relative;
  bottom: 2px;
}
.font-size-15pt{
  font-size: 15pt;
}
.font-size-10pt{
  font-size: 9pt;
}

.mr-3px{
  margin-right: 3px;
}

/*SETEANDO PROPIEDADES*/
a,
a:hover,
a:visited,
a:link,
a:active {
  color: inherit;
  text-decoration: none !important;
}

a:focus {
  color: inherit;
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
}

button:focus {
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
}

select:focus {
  border-color: rgba(255, 255, 255, 1) !important;
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
}

input:focus {
  border-color: rgba(255, 255, 255, 1) !important;
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
}

*:focus {
  outline: none !important;
}

ul li {
  list-style: none !important;
}


.p-row{
  display: flex;
  flex-direction: row;
}
#p-row{
  display: flex !important;
  flex-direction: row !important;
}
.p-column{
  display: flex;
  flex-direction: column;
}
.p-column-event{
  display: flex;
  flex-direction: column;
  min-width: 160px;
  max-width: 160px;

}
.t-white{
  color:white; 
}
.t-b{
  font-size: 1.3rem;
  font-weight: 500;
}

.t-xs{
  font-size: 0.6rem;
}

.mt-{
  margin-top: 30px;
}


/*SWAL ALERT*/
.swal2-icon.swal2-success {
  border-color: #000028 !important;
  color: #000028 !important;
}

.swal2-icon.swal2-success .swal2-success-ring {
  position: absolute;
  z-index: 2;
  top: -.25em;
  left: -.25em;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  border: .25em solid rgba(41, 50, 65, 1) !important;
  border-radius: 6rem;
  -webkit-border-radius: 6rem;
  -moz-border-radius: 6rem;
  -khtml-border-radius: 6rem;
}

.swal2-icon.swal2-success [class^=swal2-success-line] {
  display: block;
  position: absolute;
  z-index: 2;
  height: .3125em;
  border-radius: 0.25rem !important;
  -webkit-border-radius: 0.25rem !important;
  -moz-border-radius: 0.25rem !important;
  -khtml-border-radius: 0.25rem !important;
  background-color: #293241 !important;
}

.swal2-icon.swal2-info {
  border-color: #000028 !important;
  color: #000028 !important;
}

.swal2-icon.swal2-warning {
  border-color: #FF9300 !important;
  color: #FF9300 !important;
}

.swal2-icon.swal2-error {
  border-color: #FF9300 !important;
  color: #FF9300 !important;
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
  display: block;
  position: absolute;
  top: 2.3125em;
  width: 2.9375em;
  height: .3125em;
  border-radius: 0.25rem !important;
  -webkit-border-radius: 0.25rem !important;
  -moz-border-radius: 0.25rem !important;
  -khtml-border-radius: 0.25rem !important;
  background-color: #FF9300 !important;
}

.swal2-popup {
  display: none;
  position: relative;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  width: 24em !important;
  max-width: 100%;
  padding: 1.25em !important;
  border: none;
  border-radius: 1.875rem !important;
  -webkit-border-radius: 1.875rem !important;
  -moz-border-radius: 1.875rem !important;
  -khtml-border-radius: 1.875rem !important;
  background: #fafafa;
  font-size: 0.87rem !important;
}

.swal2-icon {
  position: relative;
  box-sizing: content-box;
  -webkit-box-pack: center;
  justify-content: center;
  width: 5em !important;
  height: 5em !important;
  margin: 0.25em auto 0.875em !important;
  border: .25em solid transparent;
  border-radius: 6rem;
  -webkit-border-radius: 6rem;
  -moz-border-radius: 6rem;
  -khtml-border-radius: 6rem;
  line-height: 5em;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.swal2-title {
  position: relative;
  max-width: 100%;
  margin: 0 0 .4em;
  padding: 0;
  color: #000028 !important;
  font-weight: 700 !important;
  font-size: 15px !important;
  text-align: center;
  text-transform: none;
  word-wrap: break-word;
}

.swal2-html-container {
  z-index: 1;
  justify-content: center;
  margin: 1em 1.6em 0.3em;
  padding: 0;
  overflow: auto;
  color: inherit;
  font-size: 14px !important;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  word-wrap: break-word;
  word-break: break-word;
}

.swal2-content {
  color: #000028 !important;
  font-size: 14px;
  font-weight: 700 !important;
}

.swal2-actions .swal2-styled.swal2-confirm {
  font-size: 13px !important;
  line-height: 14px;
  font-weight: 700 !important;
  background-color: #293241 !important;
  border-color: #293241 !important;
  border: 2px solid #293241 !important;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.swal2-actions .swal2-styled.swal2-confirm:hover {
  font-size: 13px !important;
  line-height: 14px;
  font-weight: 700 !important;
  background-color: #293241 !important;
  border-color: #293241 !important;
  border: 2px solid #293241 !important;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.swal2-actions .swal2-styled.swal2-cancel {
  font-size: 13px !important;
  line-height: 14px;
  font-weight: 700 !important;
  background-color: transparent !important;
  color: #000028 !important;
  border-color: rgba(201, 201, 201, 0.8) !important;
  border: 2px solid rgba(233, 233, 240, .5) !important;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.swal2-actions .swal2-styled.swal2-cancel:hover {
  font-size: 13px !important;
  line-height: 14px;
  font-weight: 700 !important;
  background-color: rgba(201, 201, 201, 0.8) !important;
  color: #fafafa !important;
  border-color: 2px solid rgba(201, 201, 201, 0.8) !important;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.swal2-actions .swal2-confirm.swal2-styled {
  font-size: 13px !important;
  line-height: 14px;
  font-weight: 500 !important;
  background-color: #FF9300!important;
  border-color: transparent !important;
  border: 0px solid transparent !important;
  box-shadow: 1px 8px 29px #695F9724;
  border-radius: 1.063rem !important;
  -webkit-border-radius: 1.063rem !important;
  -moz-border-radius: 1.063rem !important;
  -khtml-border-radius: 1.063rem !important;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.swal2-actions .swal2-confirm.swal2-styled:hover {
  font-size: 13px !important;
  line-height: 14px;
  font-weight: 500 !important;
  background-color: #FF9300 !important;
  border-color: transparent !important;
  border: 0px solid transparent !important;
  box-shadow: 1px 8px 29px #695F9724;
  border-radius: 1.063rem !important;
  -webkit-border-radius: 1.063rem !important;
  -moz-border-radius: 1.063rem !important;
  -khtml-border-radius: 1.063rem !important;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.swal2-styled.swal2-cancel {
  border: 0;
  border-radius: 0.25rem !important;
  -webkit-border-radius: 0.25rem !important;
  -moz-border-radius: 0.25rem !important;
  -khtml-border-radius: 0.25rem !important;
  background: initial;
  background-color: transparent !important;
  color: #000028 !important;
  font-size: 1.0625em;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.swal2-actions .swal2-cancel.swal2-styled {
  font-size: 13px !important;
  line-height: 14px;
  font-weight: 500 !important;
  color: #FF9300 !important;
  border: 1px solid #EBEBEB !important;
  border-radius: 1.688rem !important;
  -webkit-border-radius: 1.688rem !important;
  -moz-border-radius: 1.688rem !important;
  -khtml-border-radius: 1.688rem !important;
  background-color: transparent !important;
  border-color: #EBEBEB !important;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.swal2-actions .swal2-cancel.swal2-styled:hover {
  font-size: 13px !important;
  line-height: 14px;
  font-weight: 700 !important;
  color: #FF9300 !important;
  border: 1px solid #EBEBEB !important;
  border-radius: 1.688rem !important;
  -webkit-border-radius: 1.688rem !important;
  -moz-border-radius: 1.688rem !important;
  -khtml-border-radius: 1.688rem !important;
  background-color: #FFFFFF !important;
  border-color: #EBEBEB !important;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.swal2-styled.swal2-deny {
  font-size: 13px !important;
  line-height: 14px;
  font-weight: 500 !important;
  color: #FF9300 !important;
  border: 1px solid #EBEBEB !important;
  border-radius: 1.688rem !important;
  -webkit-border-radius: 1.688rem !important;
  -moz-border-radius: 1.688rem !important;
  -khtml-border-radius: 1.688rem !important;
  background-color: transparent !important;
  border-color: #EBEBEB !important;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



