.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* SCROLL */
::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #494135; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #776f62; 
}

a{
  color:transparent !important
}

.tw-500{
  font-weight: 700;
  position: relative;
  bottom: 2px;
}
.font-size-15pt{
  font-size: 15pt;
}
.font-size-10pt{
  font-size: 9pt;
}

.mr-3px{
  margin-right: 3px;
}

/*SETEANDO PROPIEDADES*/
a,
a:hover,
a:visited,
a:link,
a:active {
  color: inherit;
  text-decoration: none !important;
}

a:focus {
  color: inherit;
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
}

button:focus {
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
}

select:focus {
  border-color: rgba(255, 255, 255, 1) !important;
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
}

input:focus {
  border-color: rgba(255, 255, 255, 1) !important;
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
}

*:focus {
  outline: none !important;
}

ul li {
  list-style: none !important;
}


