
.offCanvasContainer{
    min-width: 14rem;
    width: 14rem;
    padding-left: 10pt;
    padding-top: 10pt;
    background-color: #11342F;
    border-right: 1pt solid #FF9300;
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 617px;
    justify-content: start;
}
.ulOffcanvas{
    list-style-type: none;
}

.textOffcanvas{
    color:#FFFFFF;
    font-size: 0.7rem;
    width: 100pt !important;
}

.sectionOffcanvas{
   margin-top: 15pt;
   margin-bottom: 15pt;
   display: flex;
   position: relative;
   right: 20pt;
}
.iconOffCanvas{
    color:#FF9300;
    margin-right: 2pt;
}

.active{

    background-color: #FF9300;
    border-radius: 10pt;
    padding-top: 6pt;
    padding-bottom: 6pt;
    padding-left: 6pt;
    padding-right: 10pt;
}
.inactive{
    border-radius: 10pt;
    padding-top: 6pt;
    padding-bottom: 6pt;
    padding-left: 6pt;
    padding-right: 10pt;
}


.active .iconOffCanvas{
    color:white;
}
.iconCanva{
    width: 5rem ;
    height: 5rem ;
    justify-items: center;
    color: orange
}
.LogoOffcanvas{
    width: 160px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.LogoOffcanvas_only{
    display:none;
    margin-bottom: 20px;
    margin-top: 30px;
    height: 40px;
    width: 40px;
}

@media (max-width: 1219px) {
   .textOffcanvas{
    display: none;
   }
   .LogoOffcanvas{
    display: none;
   }
   .LogoOffcanvas_only{
    display:flex;
    /* width: 300px;
    height: 300px; */
   }
   .offCanvasContainer{
    min-width: 5rem !important;
    width: 5rem;

   }
   .iconOffCanvas{
    width: 2rem;
    height: 2rem;
   }
   .iconCanva{
      width: 3rem;
      height: 3rem;
   }
   .sectionOffcanvas{
    right: 30px;
   }
   .active{
    
    background-color: transparent;
    border-radius: 0pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    padding-left: 0pt;
    padding-right: 0pt;
}
.inactive{
    
    border-radius: 0pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    padding-left: 0pt;
    padding-right: 0pt;
}

}

@media (max-width: 1071px) {

    .LogoOffcanvas_only{
        margin-top: 5px;
     }

    .offCanvasContainer{
        height: 63.8px;
        min-height: 63.8px;
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-top: 5pt;
        justify-content: center;
        border-right: none;
        border-bottom: 1pt solid #FF9300;

    } 
    .ulOffcanvas{
        display: flex;
        flex-direction: row;
        margin-left: 30px;
        margin-top: 0px;
    }
    .sectionOffcanvas{
        display: flex;
        position: relative;
        margin-right: 2.5rem;

    }
    .iconOffCanvas{
        color:#FF9300;
        margin-right: 2pt;
        position: relative;
        bottom: 0.7rem;
    }
    
    .active{
    
        background-color: transparent;
        border-radius: 0pt;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
    }
    
    
    .active .iconOffCanvas{
        color:white;
    }
    .iconCanva{
        width: 2.5rem ;
        height: 2.5rem ;
        justify-items: center;
        color: orange;
        position: relative;
        bottom: 0.5rem;
    } 

}