.GeneralContainer{
    width: 100vw;
    height:100vh;
    background:linear-gradient(90deg, rgb(105, 105, 139) 0%,rgb(145, 145, 192) 80%, rgb(230, 244, 247) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container{

    width: 50vw;
    height: 60vh;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
    justify-content: center;
}
.title{
    font-size: 2.5rem;
}
.subtitle{
    font-size:1rem;
    text-align: center;
    color:rgb(141, 140, 140)
}
.formElement{
    margin: 1rem;
}
.formElement_mt-0{
    margin-top: 0rem;
}
.input{
    width: 70%;
    height: 15%;
    border-radius: 0.3rem;
    padding: 4px;
}