.VideoTrimmer{
    color:white !important;
    width: 20px !important;
    height: 20px !important;
    background-color: red;
}
.display-none{
    display: none;
}
.display-flex{
    display: flex;
}